
@{
    Layout = null;
}

<!DOCTYPE html>
<html5 lang="tr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 3 | Project Add</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Datatables-->
        <script src="~/Content/DataTables/jquery-3.6.0.min.js"></script>
        <link href="~/Content/DataTables/jquery.dataTables.css" rel="stylesheet" />
        <script src="~/Content/DataTables/jquery.dataTables.js"></script>
        <!-- Font Awesome -->
        <link href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- overlayScrollbars -->
        <link href="~/AdminLTE/dist/css/adminlte.min.css" rel="stylesheet" />
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <script>
        $(document).ready(function () {
            $('.myList').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                    }
                }
            );
        });
    </script>
    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="~/AdminLTE/index3.html" class="brand-link">
                    <img src="~/AdminLTE/dist/img/AdminLTELogo.png"
                         alt="AdminLTE Logo"
                         class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>
                                        Hakkımda
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Egitim/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-graduation-cap"></i>
                                    <p>
                                        Eğitimlerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Deneyim/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-briefcase"></i>
                                    <p>
                                        Deneyimlerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Hobi/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-horse-head"></i>
                                    <p>
                                        Hobilerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Yetenek/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-brain"></i>
                                    <p>
                                        Yeteneklerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Sertifika/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-award"></i>
                                    <p>
                                        Sertifikalarım
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Iletisim/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-paper-plane"></i>
                                    <p>
                                        İletişim
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:10px">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- ./wrapper -->
        <!-- jQuery -->
        @*<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>*@
        <!-- Bootstrap 4 -->
        <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/AdminLTE/dist/js/demo.js"></script>
    </body>
</html5>

